.todoContainer {
  flex: 1;
  margin-left: 30px;
  margin-right: 30px;
}
.todoContainer span {
  font-size: 16px;
  margin-left: 20px;
}
.todoHeader {
  border-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 600;
}
.todoTab {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  border-bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  cursor: pointer;
  padding-right: 20px;
}
.todoTitle {
  font-weight: 600;
}
.todoTabSelected {
  background: linear-gradient(45deg, rgb(16, 171, 171), rgb(25, 25, 162));
}
.todoTitleSelected {
  color: whitesmoke;
}
