.boardScreen {
  height: 80vh;
  width: 80vw;
  background-color: whitesmoke;
  margin: auto;
  margin-top: 10vh;
  border-radius: 16px;
}
.headerContainer {
  height: 10vh;
  align-content: center;
  text-align: start;
  padding-left: 100px;
  border-radius: 16px;
}
.headerTitle {
  font-size: 36px;
  font-weight: 700;
  margin-left: 8px;
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
