.boardContent {
  margin-left: 10vw;
  margin-right: 10vw;
}
.boardContent h1 {
  font-size: 28px;
  font-weight: 800;
  margin: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.boardContent h2 {
  font-size: 16px;
  font-weight: 600;
}
.bottomContainer {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}
